body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.big-container {
  padding: 80px 84px;
  max-width: 1440px;
}
.pointer{
  cursor: pointer;
}
.clr{
  color: #bd2e3e;
}

.address-table-header{
  border-bottom: 2px solid #bd2e3e;
}
.address-input, .quantity-input{
  border: 1px solid #e5cdd0;
  min-width: -webkit-fill-available;
}
.generate-btn{
  border-radius: 0;
  font-family: Lato-Regular, sans-serif;
  cursor: pointer;
  font-weight: 600;
  min-width: max-content;
  box-sizing: border-box;
  padding: 7px 24px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: 1px solid #BD2E3E;
  background-color: #bd2e3e;
}
.save-btn{
  margin-left: 20px;
  border-radius: 0;
  font-family: Lato-Regular, sans-serif;
  cursor: pointer;
  font-weight: 600;
  min-width: max-content;
  box-sizing: border-box;
  padding: 7px 24px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: 1px solid #BD2E3E;
  background-color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.warning>input{
  border-bottom-color: #bd2e3e;
  border-bottom-width: 2px!important;

}
.break{
  line-break: anywhere;
}
